<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<center>
<body>
<h3>EDIT PRODUCT</h3>

<form th:action="@{/product/update}" method="POST" th:object="${product}">
<pre>
ID   : <input type="text" th:field="*{pid}" readonly/>
NAME : <input type="text" th:field="*{pname}" readonly/>
COST : <input type="text" th:field="*{cost}"/>

	<input type="submit" value="Update Prodct"/>	
</pre>
</form>
</center>
</body>
</html>